body{
    margin:0;
    font-family:'segoe ui',tahoma,sans-serif;
    background:#f8f8f8; 
    display:flex;
    align-items:center;
    height:100vh;
}
.invitation-container{
    background:#ffffff;
    border-radius:10px;
    padding:30px;
    width:90%;
    max-width:500px;
    box-shadow:2px 4px 12px rgba(50, 40, 40, 0.1);
    border-top-left-radius: 2px;
    text-align:center;
}
.event-title{
    color:#d6336c;
    font-size:2.5em;
    margin-bottom:1px;
}
.event-subtitle{
    color:#d6336c;
    font-size:1.2em;
    margin-bottom:20px;
}
.rsvp-button{
    display:inline-block;
    margin-top:20px;
    font-family:'segoe ui',tahoma,sans-serif;
    background:#d6336c;
    color:white;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold; 
    display:flex;
    transition:background 0.3s ease;
    align-items:center;
    height:100vh;
}